body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin:auto;
    text-align: center;
}

#map{
    margin-left: 10%;
}

#asemat {
    margin-left: 10%;
}

#saa {
    margin-left: 45%;
}

table {
    margin:auto;
    border-collapse: collapse;
    text-align:center;
}

td, th {
    border-style: solid;
    padding: 1ex;
}

#test {
    text-align: center;
    margin: 0px;
}

h2 {
    text-align: center;
    margin: 0px;
}

#lat, #lng {
    display: none;
}
